$lightGreen: #e9e1f8;
:root {
  --primary-color: #2c3e50;
  --secondary-color: #3498db;
  --light-color: #ecf0f1;
  --dark-color: #34495e;
}

.app {
  display: flex;
  justify-content: center;

  .container {
    width: 1024px;
    
    .link {
      text-decoration: none;
      color: inherit;
    }

    //NAVBAR

    .navbar {
      margin-bottom: 40px;
      
      .container {
        padding: 10px 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color:  #f6e6e6 ;
        box-shadow: 0px 2px 2px #5C5696;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;

        .logo {
          img {
            width: 200px;
          }
        }

        .links {
          display: flex;
          align-items: center;
          gap: 10px;

          h6 {
            font-size: 16px;
            font-weight: 300;
          }

          span {
            cursor: pointer;
          }

          .write {
            background-color: #a69fd7;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 300;
            border: 1px solid white;

            &:hover {
              color: #a69fd7;
              background-color: white;
              border: 1px solid #a69fd7;
            }
          }
        }
      }
    }
  }
}
