$lightGreen: #c8b2f0;

:root {
  --primary-color: #2c3e50;
  --secondary-color: #3498db;
  --light-color: #ecf0f1;
  --dark-color: #34495e;
}

.app {
  display: flex;
  justify-content: center;

  .container {
    width: 1024px;

    .link {
      text-decoration: none;
      color: inherit;
    }

    //article

    .article {
      display: flex;
      gap: 50px;
      padding-top: 30px;
      padding: 30px;

      .content {
        flex: 5;
        display: flex;
        flex-direction: column;
        gap: 30px;

        img {
          width: 100%;
          height: 300px;
          object-fit: cover;
        }

        .user {
          display: flex;
          align-items: center;
          gap: 10px;
          font-size: 14px;

          img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
          }

          span {
            font-weight: bold;
          }
        }

        .edit {
          display: flex;
          gap: 5px;

          img {
            width: 20px;
            height: 20px;
            cursor: pointer;
          }
        }

        h1 {
          font-size: 42px;
          color: #333;
        }

        p {
          text-align: justify;
          line-height: 30px;
        }

        .generatePDF {
          display: inline-block;
          padding: 10px 20px;
          font-size: 16px;
          font-weight: bold;
          text-align: center;
          text-decoration: none;
          cursor: pointer;
          border: none;
          border-radius: 4px;
          background-color: #007bff;
          color: #ffffff;

          &:hover,
          &:focus {
            background-color: #0056b3;
            outline: none;
          }

          &:active {
            background-color: #004080;
          }
        }

        .comments {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          

          .write {
            display: flex;
            gap: 1rem;
            align-items: center;

            input[type="text"] {
              flex: 1;
              padding: 0.5rem;
              border: none;
              border-radius: 0.25rem;
              box-shadow: 0px 2px 2px #5C5696;

              &:focus {
                outline: none;
                box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.4);
              }
            }

            button {
              padding: 0.5rem 1rem;
              background-color: #4CAF50;
              color: #fff;
              border: none;
              border-radius: 0.25rem;
              cursor: pointer;

              &:hover {
                background-color: #3e8e41;
              }

              &:disabled {
                background-color: #ccc;
                cursor: not-allowed;
              }
            }

          }

          .comment {
            display: flex;
            gap: 1rem;
            align-items: center;
            padding: 1rem;
            background-color: #f5f5f5;
            box-shadow: 0px 2px 2px #5C5696;
            border-radius: 0.25rem;
            position: relative;

            .info {
              display: flex;
              flex-direction: column;
              gap: 0.5rem;
              flex: 1;

              .delete-button {
                position: absolute;
                right: 0.1rem;
                top: 0.1rem;
                padding: 0.5rem;
                background-color: transparent;
                color: #c82525;
                border: none;
                cursor: pointer;

                &:hover {
                  background-color: #c82525;
                  color: #fff;
                }

                &:disabled {
                  background-color: #ccc;
                  cursor: not-allowed;
                }
              }

              span {
                font-weight: bold;
              }

              p {
                margin: 0;
              }
            }


            .date {
              margin-left: auto;
              font-size: 0.875rem;
              color: #666;
            }
          }

          .error {
            color: #f00;
          }

          .loading {
            text-align: center;
            color: #666;
          }
        }
      }

    }

  }
}